<% content_for(:title, "Jim Patt") %>

<h1>Jim Patt</h1>

<p>I'm awesome</p>

<p>
  I know ruby, sinatra, capybara, active record, javascript, jquery, ember, git, rails, along with a bunch of other stuff I can't remember right now
</p>
<p>
  Click Skills in the navbar to see more.
</p>

<span class='btn btn-success view_references'>View References</span>
<div class="reference_list">
  <% if @references.any? %>
    <div class="references_container">
      <ul>
        <% @references.each do |reference| %>
          <li><%= link_to reference.name, reference_path(reference)  %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p>No references have been added yet</p>
  <% end %>
  <!-- <%#= link_to "Add Your Own Reference.", new_reference_path, class: "btn btn-info new_reference", remote: true %> -->
  <%= link_to "Add Your Own Reference.", new_reference_path, class: "btn btn-info new_reference" %>

</div>

<p>
  peace!
</p>
