$('.reference_form').hide()
$('.reference_ul').append(' <div>\
                                <li><%= link_to @reference.name, reference_path(@reference) %></li>\
                              </div>');
$('.new_reference').show();
