<% content_for(:title, "Jim Patt") %>

<h1>Jim Patt</h1>

<p>I'm awesome</p>

<p>
  I know ruby, sinatra, capybara, active record, javascript, jquery, ember, git, rails, along with a bunch of other stuff I can't remember right now
</p>
<p>
  Click Skills in the navbar to see more.
</p>

<p>
  peace!
</p>
